<!DOCTYPE html>
<html>
  <head>
    <title>BOPPER</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>

    <div class="header-title">
      <h1>BOPPER</h1>
    </div>

    <% if @current_user.present? %>

      <div class="welcome-back-message">
        <h3>&#128126; &#128126; &#128126; Welcome back, <%= @current_user.name %> &#128126; &#128126; &#128126;</h3>
      </div>

    <% end %>

    <ul class="navigation">
      <% if @current_user.present? %>
      <li><%= link_to 'PLAY', root_path %></li>
      <li><%= link_to 'LOGOUT', login_path, method: 'delete' %></li>
      <li><%= link_to 'EDIT PROFILE', edit_user_path(@current_user.id) %></li>
      <% else %>
      <li><%= link_to 'PLAY', root_path %></li>
      <li><%= link_to 'LOGIN', login_path %></li>
      <li><%= link_to 'CREATE ACCOUNT', new_user_path %></li>
      <% end %>
    </ul>

    <br>
    <%= yield %>

    <div class="footer">
      &copy; Ben P. and Danny L. 2020
    </div>

  </body>
</html>
